<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kronosempire.casos">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".CASOSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CASOS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".ui.main.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CASOS.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Add Registro -->
        <activity
            android:name=".ui.add.AddRegistroActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

        <!-- Detail -->
        <activity
            android:name=".ui.detail.DetailActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

        <!-- Search -->
        <activity
            android:name=".ui.search.SearchActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

        <!-- Cierre -->
        <activity
            android:name=".ui.cierre.CierreActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

        <!-- Security -->
        <activity
            android:name=".ui.security.PinActivity"
            android:exported="false"
            android:theme="@style/Theme.CASOS.NoActionBar" />

        <activity
            android:name=".ui.security.SetupSecurityActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.security.TwoFactorActivity"
            android:exported="false"
            android:theme="@style/Theme.CASOS.NoActionBar" />

        <activity
            android:name=".ui.security.RecoveryActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

        <!-- Settings -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:exported="false" />

    </application>

</manifest>
